/1st_Milestone (1).ipynb
/4.7.0
/best_model_export
/best_model_ndvi.h5
/best_model_rgb_nir.h5
/GPU.py
/mlflow_exp.ipynb
/MLproject
/mlruns
/model_NDVI_v0.h5
/model_RGB_NIR_v0.h5
/model_RGB_NIR_v2.h5
/model_v1.h5
/NDVI_models.ipynb
/placeholder_satellite.jpg
/RGB_Adagrad_LR_0.0001_confusion_matrix.png
/RGB_Adagrad_LR_0.0001_summary.txt
/RGB_Adagrad_LR_0.001_confusion_matrix.png
/RGB_Adagrad_LR_0.001_summary.txt
/RGB_Adagrad_LR_0.01_confusion_matrix.png
/RGB_Adagrad_LR_0.01_summary.txt
/RGB_Adagrad_LR_0.1_confusion_matrix.png
/RGB_Adagrad_LR_0.1_summary.txt
/RGB_Adagrad_LR_1e-05_confusion_matrix.png
/RGB_Adagrad_LR_1e-05_summary.txt
/RGB_base_confusion_matrix.png
/RGB_base_summary.txt
/RGB_Deeper_Arch_confusion_matrix.png
/RGB_Deeper_Arch_summary.txt
/RGB_enhanced_confusion_matrix.png
/RGB_enhanced_summary.txt
/RGB_NIR.ipynb
/RGB_Opt_Adagrad_confusion_matrix.png
/RGB_Opt_Adagrad_summary.txt
/RGB_Opt_Adam_confusion_matrix.png
/RGB_Opt_Adam_summary.txt
/RGB_Opt_RMSprop_confusion_matrix.png
/RGB_Opt_RMSprop_summary.txt
/RGB_Opt_SGD_confusion_matrix.png
/RGB_Opt_SGD_summary.txt
/RGB_Simplified_Arch_confusion_matrix.png
/RGB_Simplified_Arch_summary.txt
/update_env.bat